body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
a{
    color: black;
    transition: .5s;
    display: block;
    margin-bottom: 30px;
    background-color: rgb(0, 134, 243);
    padding: 10px  15px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    align-items: center;
}
a:hover{
    box-shadow: 0px 0px 0px 2px red,
     0px 0px 0px 4px rgb(255, 123, 0),
      0px 0px 0px 6px rgb(255, 251, 0),
       0px 0px 0px 8px rgb(0, 216, 29),
        0px 0px 0px 10px rgb(0, 153, 255),
         0px 0px 0px 12px rgb(38, 0, 255),
          0px 0px 0px 14px rgb(175, 6, 175);
    background-color: black;
    color: White;
    
}